/******************************************************************************/
// SMALL+
/******************************************************************************/

@media screen and (min-width: 360px)

    {
        [data-util~="grd:sm:300"] {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: var(--siz-sm);
        }

        [data-util~="grd:sm:400"] {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            grid-gap: var(--siz-sm);
        }
    }

/******************************************************************************/
// SMALL-
/******************************************************************************/

@media screen and (min-width: 360px) and (max-width: 767px)

    {
        [data-util~="grd:sm.:300"] {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: var(--siz-sm);
        }

        [data-util~="grd:sm.:400"] {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            grid-gap: var(--siz-sm);
        }
    }
