/******************************************************************************/
// LARGE+
/******************************************************************************/

@media screen and (min-width: 1280px)

    {
        [data-util~="bor:lg:rad"] {
            border-radius: var(--rad);
            overflow: hidden;
        }

        [data-util~="bor-tr:lg:rad"] {
            border-top-right-radius: var(--rad);
            overflow: hidden;
        }

        [data-util~="bor-br:lg:rad"] {
            border-bottom-right-radius: var(--rad);
            overflow: hidden;
        }

        [data-util~="bor-bl:lg:rad"] {
            border-bottom-left-radius: var(--rad);
            overflow: hidden;
        }

        [data-util~="bor-tl:lg:rad"] {
            border-top-left-radius: var(--rad);
            overflow: hidden;
        }
    }
