/******************************************************************************/
// Responsive sizes
/******************************************************************************/

:root {
    --siz-sm: 1rem;
    --siz-md: calc(1rem * 1.5);
    --siz-lg: calc(1rem * 2);
}

/******************************************************************************/
// Font sizes
/******************************************************************************/

:root {
    --siz-0: 14px;
    --siz-1: 1rem;
    --siz-2: calc(1rem + 2px);
    --siz-3: calc(1rem + 6px);
    --siz-4: calc(1rem + 12px);
    --siz-5: calc(1rem + 20px);
    --siz-6: calc(1rem + 28px);
    --siz-7: calc(1rem + 38px);
    --siz-8: calc(1rem + 50px);
}

/******************************************************************************/
// Colours
/******************************************************************************/

:root {
    --red-lgt: hsl(358, 85%, 62%);
    --red: hsl(358, 85%, 52%);
    --red-drk: hsl(358, 85%, 42%);

    --blu-lgt: hsl(217, 45%, 61%);
    --blu: hsl(217, 45%, 51%);
    --blu-drk: hsl(217, 45%, 41%);

    --grn-lgt: hsl(109, 56%, 60%);
    --grn: hsl(109, 56%, 50%);
    --grn-drk: hsl(109, 56%, 45%);

    --ylw-lgt: hsl(40, 100%, 62%);
    --ylw: hsl(40, 100%, 55%);
    --ylw-drk: hsl(40, 100%, 48%);

    --pur-lgt: hsl(260, 60%, 65%);
    --pur: hsl(260, 60%, 60%);
    --pur-drk: hsl(260, 60%, 50%);

    --gry-lgt: hsl(212, 54%, 96%);
    --gry: hsl(212, 54%, 65%);
    --gry-drk: hsl(212, 54%, 15%);

    --lgt: hsl(212, 54%, 81%);
    --med: hsl(212, 54%, 25%);
    --drk: hsl(212, 54%, 20%);
}

/******************************************************************************/
// Borders
/******************************************************************************/

:root {
    --rad: 6px;
}

/******************************************************************************/
// Fonts
/******************************************************************************/

:root {
    --txt-std: sans-serif;
    --txt-hdg: sans-serif;
    --txt-btn: sans-serif;
    --txt-fix: monospace;
}

/******************************************************************************/
// Effects
/******************************************************************************/

:root {
    --trn: all 0.1s ease-in-out;
}
