/******************************************************************************/
// LARGE+
/******************************************************************************/

@media screen and (min-width: 1280px)

    {
        /**********************************************************************/
        // 0.25rem
        /**********************************************************************/

        [data-util~="pad:lg:0,25"] {
            padding: 1rem * 0.25;
        }

        [data-util~="pad-x:lg:0,25"] {
            padding-right: 1rem * 0.25;
            padding-left: 1rem * 0.25;
        }

        [data-util~="pad-y:lg:0,25"] {
            padding-top: 1rem * 0.25;
            padding-bottom: 1rem * 0.25;
        }

        [data-util~="pad-t:lg:0,25"] {
            padding-top: 1rem * 0.25;
        }

        [data-util~="pad-r:lg:0,25"] {
            padding-right: 1rem * 0.25;
        }

        [data-util~="pad-b:lg:0,25"] {
            padding-bottom: 1rem * 0.25;
        }

        [data-util~="pad-l:lg:0,25"] {
            padding-left: 1rem * 0.25;
        }

        /**********************************************************************/
        // 0.5rem
        /**********************************************************************/

        [data-util~="pad:lg:0,5"] {
            padding: 1rem * 0.5;
        }

        [data-util~="pad-x:lg:0,5"] {
            padding-right: 1rem * 0.5;
            padding-left: 1rem * 0.5;
        }

        [data-util~="pad-y:lg:0,5"] {
            padding-top: 1rem * 0.5;
            padding-bottom: 1rem * 0.5;
        }

        [data-util~="pad-t:lg:0,5"] {
            padding-top: 1rem * 0.5;
        }

        [data-util~="pad-r:lg:0,5"] {
            padding-right: 1rem * 0.5;
        }

        [data-util~="pad-b:lg:0,5"] {
            padding-bottom: 1rem * 0.5;
        }

        [data-util~="pad-l:lg:0,5"] {
            padding-left: 1rem * 0.5;
        }

        /**********************************************************************/
        // 1rem
        /**********************************************************************/

        [data-util~="pad:lg:1,0"] {
            padding: 1rem;
        }

        [data-util~="pad-x:lg:1,0"] {
            padding-right: 1rem;
            padding-left: 1rem;
        }

        [data-util~="pad-y:lg:1,0"] {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        [data-util~="pad-t:lg:1,0"] {
            padding-top: 1rem;
        }

        [data-util~="pad-r:lg:1,0"] {
            padding-right: 1rem;
        }

        [data-util~="pad-b:lg:1,0"] {
            padding-bottom: 1rem;
        }

        [data-util~="pad-l:lg:1,0"] {
            padding-left: 1rem;
        }

        /**********************************************************************/
        // 1.5rem
        /**********************************************************************/

        [data-util~="pad:lg:1,5"] {
            padding: 1rem * 1.5;
        }

        [data-util~="pad-x:lg:1,5"] {
            padding-right: 1rem * 1.5;
            padding-left: 1rem * 1.5;
        }

        [data-util~="pad-y:lg:1,5"] {
            padding-top: 1rem * 1.5;
            padding-bottom: 1rem * 1.5;
        }

        [data-util~="pad-t:lg:1,5"] {
            padding-top: 1rem * 1.5;
        }

        [data-util~="pad-r:lg:1,5"] {
            padding-right: 1rem * 1.5;
        }

        [data-util~="pad-b:lg:1,5"] {
            padding-bottom: 1rem * 1.5;
        }

        [data-util~="pad-l:lg:1,5"] {
            padding-left: 1rem * 1.5;
        }

        /**********************************************************************/
        // 2rem
        /**********************************************************************/

        [data-util~="pad:lg:2,0"] {
            padding: 1rem * 2;
        }

        [data-util~="pad-x:lg:2,0"] {
            padding-right: 1rem * 2;
            padding-left: 1rem * 2;
        }

        [data-util~="pad-y:lg:2,0"] {
            padding-top: 1rem * 2;
            padding-bottom: 1rem * 2;
        }

        [data-util~="pad-t:lg:2,0"] {
            padding-top: 1rem * 2;
        }

        [data-util~="pad-r:lg:2,0"] {
            padding-right: 1rem * 2;
        }

        [data-util~="pad-b:lg:2,0"] {
            padding-bottom: 1rem * 2;
        }

        [data-util~="pad-l:lg:2,0"] {
            padding-left: 1rem * 2;
        }

        /**********************************************************************/
        // 3rem
        /**********************************************************************/

        [data-util~="pad:lg:3,0"] {
            padding: 1rem * 3;
        }

        [data-util~="pad-x:lg:3,0"] {
            padding-right: 1rem * 3;
            padding-left: 1rem * 3;
        }

        [data-util~="pad-y:lg:3,0"] {
            padding-top: 1rem * 3;
            padding-bottom: 1rem * 3;
        }

        [data-util~="pad-t:lg:3,0"] {
            padding-top: 1rem * 3;
        }

        [data-util~="pad-r:lg:3,0"] {
            padding-right: 1rem * 3;
        }

        [data-util~="pad-b:lg:3,0"] {
            padding-bottom: 1rem * 3;
        }

        [data-util~="pad-l:lg:3,0"] {
            padding-left: 1rem * 3;
        }

        /**********************************************************************/
        // 4rem
        /**********************************************************************/

        [data-util~="pad:lg:4,0"] {
            padding: 1rem * 4;
        }

        [data-util~="pad-x:lg:4,0"] {
            padding-right: 1rem * 4;
            padding-left: 1rem * 4;
        }

        [data-util~="pad-y:lg:4,0"] {
            padding-top: 1rem * 4;
            padding-bottom: 1rem * 4;
        }

        [data-util~="pad-t:lg:4,0"] {
            padding-top: 1rem * 4;
        }

        [data-util~="pad-r:lg:4,0"] {
            padding-right: 1rem * 4;
        }

        [data-util~="pad-b:lg:4,0"] {
            padding-bottom: 1rem * 4;
        }

        [data-util~="pad-l:lg:4,0"] {
            padding-left: 1rem * 4;
        }
    }
