/******************************************************************************/
// SMALL+
/******************************************************************************/

@media screen and (min-width: 360px)

    {
        /**********************************************************************/
        // 0.25rem
        /**********************************************************************/

        [data-util~="pad:sm:0,25"] {
            padding: 1rem * 0.25;
        }

        [data-util~="pad-x:sm:0,25"] {
            padding-right: 1rem * 0.25;
            padding-left: 1rem * 0.25;
        }

        [data-util~="pad-y:sm:0,25"] {
            padding-top: 1rem * 0.25;
            padding-bottom: 1rem * 0.25;
        }

        [data-util~="pad-t:sm:0,25"] {
            padding-top: 1rem * 0.25;
        }

        [data-util~="pad-r:sm:0,25"] {
            padding-right: 1rem * 0.25;
        }

        [data-util~="pad-b:sm:0,25"] {
            padding-bottom: 1rem * 0.25;
        }

        [data-util~="pad-l:sm:0,25"] {
            padding-left: 1rem * 0.25;
        }

        /**********************************************************************/
        // 0.5rem
        /**********************************************************************/

        [data-util~="pad:sm:0,5"] {
            padding: 1rem * 0.5;
        }

        [data-util~="pad-x:sm:0,5"] {
            padding-right: 1rem * 0.5;
            padding-left: 1rem * 0.5;
        }

        [data-util~="pad-y:sm:0,5"] {
            padding-top: 1rem * 0.5;
            padding-bottom: 1rem * 0.5;
        }

        [data-util~="pad-t:sm:0,5"] {
            padding-top: 1rem * 0.5;
        }

        [data-util~="pad-r:sm:0,5"] {
            padding-right: 1rem * 0.5;
        }

        [data-util~="pad-b:sm:0,5"] {
            padding-bottom: 1rem * 0.5;
        }

        [data-util~="pad-l:sm:0,5"] {
            padding-left: 1rem * 0.5;
        }

        /**********************************************************************/
        // 1rem
        /**********************************************************************/

        [data-util~="pad:sm:1,0"] {
            padding: 1rem;
        }

        [data-util~="pad-x:sm:1,0"] {
            padding-right: 1rem;
            padding-left: 1rem;
        }

        [data-util~="pad-y:sm:1,0"] {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        [data-util~="pad-t:sm:1,0"] {
            padding-top: 1rem;
        }

        [data-util~="pad-r:sm:1,0"] {
            padding-right: 1rem;
        }

        [data-util~="pad-b:sm:1,0"] {
            padding-bottom: 1rem;
        }

        [data-util~="pad-l:sm:1,0"] {
            padding-left: 1rem;
        }

        /**********************************************************************/
        // 1.5rem
        /**********************************************************************/

        [data-util~="pad:sm:1,5"] {
            padding: 1rem * 1.5;
        }

        [data-util~="pad-x:sm:1,5"] {
            padding-right: 1rem * 1.5;
            padding-left: 1rem * 1.5;
        }

        [data-util~="pad-y:sm:1,5"] {
            padding-top: 1rem * 1.5;
            padding-bottom: 1rem * 1.5;
        }

        [data-util~="pad-t:sm:1,5"] {
            padding-top: 1rem * 1.5;
        }

        [data-util~="pad-r:sm:1,5"] {
            padding-right: 1rem * 1.5;
        }

        [data-util~="pad-b:sm:1,5"] {
            padding-bottom: 1rem * 1.5;
        }

        [data-util~="pad-l:sm:1,5"] {
            padding-left: 1rem * 1.5;
        }

        /**********************************************************************/
        // 2rem
        /**********************************************************************/

        [data-util~="pad:sm:2,0"] {
            padding: 1rem * 2;
        }

        [data-util~="pad-x:sm:2,0"] {
            padding-right: 1rem * 2;
            padding-left: 1rem * 2;
        }

        [data-util~="pad-y:sm:2,0"] {
            padding-top: 1rem * 2;
            padding-bottom: 1rem * 2;
        }

        [data-util~="pad-t:sm:2,0"] {
            padding-top: 1rem * 2;
        }

        [data-util~="pad-r:sm:2,0"] {
            padding-right: 1rem * 2;
        }

        [data-util~="pad-b:sm:2,0"] {
            padding-bottom: 1rem * 2;
        }

        [data-util~="pad-l:sm:2,0"] {
            padding-left: 1rem * 2;
        }

        /**********************************************************************/
        // 3rem
        /**********************************************************************/

        [data-util~="pad:sm:3,0"] {
            padding: 1rem * 3;
        }

        [data-util~="pad-x:sm:3,0"] {
            padding-right: 1rem * 3;
            padding-left: 1rem * 3;
        }

        [data-util~="pad-y:sm:3,0"] {
            padding-top: 1rem * 3;
            padding-bottom: 1rem * 3;
        }

        [data-util~="pad-t:sm:3,0"] {
            padding-top: 1rem * 3;
        }

        [data-util~="pad-r:sm:3,0"] {
            padding-right: 1rem * 3;
        }

        [data-util~="pad-b:sm:3,0"] {
            padding-bottom: 1rem * 3;
        }

        [data-util~="pad-l:sm:3,0"] {
            padding-left: 1rem * 3;
        }

        /**********************************************************************/
        // 4rem
        /**********************************************************************/

        [data-util~="pad:sm:4,0"] {
            padding: 1rem * 4;
        }

        [data-util~="pad-x:sm:4,0"] {
            padding-right: 1rem * 4;
            padding-left: 1rem * 4;
        }

        [data-util~="pad-y:sm:4,0"] {
            padding-top: 1rem * 4;
            padding-bottom: 1rem * 4;
        }

        [data-util~="pad-t:sm:4,0"] {
            padding-top: 1rem * 4;
        }

        [data-util~="pad-r:sm:4,0"] {
            padding-right: 1rem * 4;
        }

        [data-util~="pad-b:sm:4,0"] {
            padding-bottom: 1rem * 4;
        }

        [data-util~="pad-l:sm:4,0"] {
            padding-left: 1rem * 4;
        }
    }


/******************************************************************************/
// SMALL-
/******************************************************************************/

@media screen and (min-width: 360px) and (max-width: 767px)

    {
        /**********************************************************************/
        // 0.25rem
        /**********************************************************************/

        [data-util~="pad:sm.:0,25"] {
            padding: 1rem * 0.25;
        }

        [data-util~="pad-x:sm.:0,25"] {
            padding-right: 1rem * 0.25;
            padding-left: 1rem * 0.25;
        }

        [data-util~="pad-y:sm.:0,25"] {
            padding-top: 1rem * 0.25;
            padding-bottom: 1rem * 0.25;
        }

        [data-util~="pad-t:sm.:0,25"] {
            padding-top: 1rem * 0.25;
        }

        [data-util~="pad-r:sm.:0,25"] {
            padding-right: 1rem * 0.25;
        }

        [data-util~="pad-b:sm.:0,25"] {
            padding-bottom: 1rem * 0.25;
        }

        [data-util~="pad-l:sm.:0,25"] {
            padding-left: 1rem * 0.25;
        }

        /**********************************************************************/
        // 0.5rem
        /**********************************************************************/

        [data-util~="pad:sm.:0,5"] {
            padding: 1rem * 0.5;
        }

        [data-util~="pad-x:sm.:0,5"] {
            padding-right: 1rem * 0.5;
            padding-left: 1rem * 0.5;
        }

        [data-util~="pad-y:sm.:0,5"] {
            padding-top: 1rem * 0.5;
            padding-bottom: 1rem * 0.5;
        }

        [data-util~="pad-t:sm.:0,5"] {
            padding-top: 1rem * 0.5;
        }

        [data-util~="pad-r:sm.:0,5"] {
            padding-right: 1rem * 0.5;
        }

        [data-util~="pad-b:sm.:0,5"] {
            padding-bottom: 1rem * 0.5;
        }

        [data-util~="pad-l:sm.:0,5"] {
            padding-left: 1rem * 0.5;
        }

        /**********************************************************************/
        // 1rem
        /**********************************************************************/

        [data-util~="pad:sm.:1,0"] {
            padding: 1rem;
        }

        [data-util~="pad-x:sm.:1,0"] {
            padding-right: 1rem;
            padding-left: 1rem;
        }

        [data-util~="pad-y:sm.:1,0"] {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        [data-util~="pad-t:sm.:1,0"] {
            padding-top: 1rem;
        }

        [data-util~="pad-r:sm.:1,0"] {
            padding-right: 1rem;
        }

        [data-util~="pad-b:sm.:1,0"] {
            padding-bottom: 1rem;
        }

        [data-util~="pad-l:sm.:1,0"] {
            padding-left: 1rem;
        }

        /**********************************************************************/
        // 1.5rem
        /**********************************************************************/

        [data-util~="pad:sm.:1,5"] {
            padding: 1rem * 1.5;
        }

        [data-util~="pad-x:sm.:1,5"] {
            padding-right: 1rem * 1.5;
            padding-left: 1rem * 1.5;
        }

        [data-util~="pad-y:sm.:1,5"] {
            padding-top: 1rem * 1.5;
            padding-bottom: 1rem * 1.5;
        }

        [data-util~="pad-t:sm.:1,5"] {
            padding-top: 1rem * 1.5;
        }

        [data-util~="pad-r:sm.:1,5"] {
            padding-right: 1rem * 1.5;
        }

        [data-util~="pad-b:sm.:1,5"] {
            padding-bottom: 1rem * 1.5;
        }

        [data-util~="pad-l:sm.:1,5"] {
            padding-left: 1rem * 1.5;
        }

        /**********************************************************************/
        // 2rem
        /**********************************************************************/

        [data-util~="pad:sm.:2,0"] {
            padding: 1rem * 2;
        }

        [data-util~="pad-x:sm.:2,0"] {
            padding-right: 1rem * 2;
            padding-left: 1rem * 2;
        }

        [data-util~="pad-y:sm.:2,0"] {
            padding-top: 1rem * 2;
            padding-bottom: 1rem * 2;
        }

        [data-util~="pad-t:sm.:2,0"] {
            padding-top: 1rem * 2;
        }

        [data-util~="pad-r:sm.:2,0"] {
            padding-right: 1rem * 2;
        }

        [data-util~="pad-b:sm.:2,0"] {
            padding-bottom: 1rem * 2;
        }

        [data-util~="pad-l:sm.:2,0"] {
            padding-left: 1rem * 2;
        }

        /**********************************************************************/
        // 3rem
        /**********************************************************************/

        [data-util~="pad:sm.:3,0"] {
            padding: 1rem * 3;
        }

        [data-util~="pad-x:sm.:3,0"] {
            padding-right: 1rem * 3;
            padding-left: 1rem * 3;
        }

        [data-util~="pad-y:sm.:3,0"] {
            padding-top: 1rem * 3;
            padding-bottom: 1rem * 3;
        }

        [data-util~="pad-t:sm.:3,0"] {
            padding-top: 1rem * 3;
        }

        [data-util~="pad-r:sm.:3,0"] {
            padding-right: 1rem * 3;
        }

        [data-util~="pad-b:sm.:3,0"] {
            padding-bottom: 1rem * 3;
        }

        [data-util~="pad-l:sm.:3,0"] {
            padding-left: 1rem * 3;
        }

        /**********************************************************************/
        // 4rem
        /**********************************************************************/

        [data-util~="pad:sm.:4,0"] {
            padding: 1rem * 4;
        }

        [data-util~="pad-x:sm.:4,0"] {
            padding-right: 1rem * 4;
            padding-left: 1rem * 4;
        }

        [data-util~="pad-y:sm.:4,0"] {
            padding-top: 1rem * 4;
            padding-bottom: 1rem * 4;
        }

        [data-util~="pad-t:sm.:4,0"] {
            padding-top: 1rem * 4;
        }

        [data-util~="pad-r:sm.:4,0"] {
            padding-right: 1rem * 4;
        }

        [data-util~="pad-b:sm.:4,0"] {
            padding-bottom: 1rem * 4;
        }

        [data-util~="pad-l:sm.:4,0"] {
            padding-left: 1rem * 4;
        }
    }
