/******************************************************************************/
// MEDIUM+
/******************************************************************************/

@media screen and (min-width: 768px)

    {
        /**********************************************************************/
        // 0.5rem
        /**********************************************************************/

        // Top to bottom

        [data-util~="gap:md:0,5"] > * {
            margin: 0;
        }

        [data-util~="gap:md:0,5"] > *:not(:first-child) {
            margin-top: 1rem * 0.25;
        }

        [data-util~="gap:md:0,5"] > *:not(:last-child) {
            margin-bottom: 1rem * 0.25;
        }

        // Left to right

        [data-util*="row:md:"][data-util~="gap:md:0,5"] > * {
            margin: 0;
        }

        [data-util*="row:md:"][data-util~="gap:md:0,5"] > *:not(:last-child) {
            margin-right: 1rem * 0.25;
        }

        [data-util*="row:md:"][data-util~="gap:md:0,5"] > *:not(:first-child) {
            margin-left: 1rem * 0.25;
        }

        /**********************************************************************/
        // 1rem
        /**********************************************************************/

        // Top to bottom

        [data-util~="gap:md:1,0"] > * {
            margin: 0;
        }

        [data-util~="gap:md:1,0"] > *:not(:first-child) {
            margin-top: 1rem * 0.5;
        }

        [data-util~="gap:md:1,0"] > *:not(:last-child) {
            margin-bottom: 1rem * 0.5;
        }

        // Left to right

        [data-util*="row:md:"][data-util~="gap:md:1,0"] > * {
            margin: 0;
        }

        [data-util*="row:md:"][data-util~="gap:md:1,0"] > *:not(:last-child) {
            margin-right: 1rem * 0.5;
        }

        [data-util*="row:md:"][data-util~="gap:md:1,0"] > *:not(:first-child) {
            margin-left: 1rem * 0.5;
        }

        /**********************************************************************/
        // 1.5rem
        /**********************************************************************/

        // Top to bottom

        [data-util~="gap:md:1,5"] > * {
            margin: 0;
        }

        [data-util~="gap:md:1,5"] > *:not(:first-child) {
            margin-top: 1rem * 0.75;
        }

        [data-util~="gap:md:1,5"] > *:not(:last-child) {
            margin-bottom: 1rem * 0.75;
        }

        // Left to right

        [data-util*="row:md:"][data-util~="gap:md:1,5"] > * {
            margin: 0;
        }

        [data-util*="row:md:"][data-util~="gap:md:1,5"] > *:not(:last-child) {
            margin-right: 1rem * 0.75;
        }

        [data-util*="row:md:"][data-util~="gap:md:1,5"] > *:not(:first-child) {
            margin-left: 1rem * 0.75;
        }

        /**********************************************************************/
        // 2rem
        /**********************************************************************/

        // Top to bottom

        [data-util~="gap:md:2,0"] > * {
            margin: 0;
        }

        [data-util~="gap:md:2,0"] > *:not(:first-child) {
            margin-top: 1rem;
        }

        [data-util~="gap:md:2,0"] > *:not(:last-child) {
            margin-bottom: 1rem;
        }

        // Left to right

        [data-util*="row:md:"][data-util~="gap:md:2,0"] > * {
            margin: 0;
        }

        [data-util*="row:md:"][data-util~="gap:md:2,0"] > *:not(:last-child) {
            margin-right: 1rem;
        }

        [data-util*="row:md:"][data-util~="gap:md:2,0"] > *:not(:first-child) {
            margin-left: 1rem;
        }

        /**********************************************************************/
        // 3rem
        /**********************************************************************/

        // Top to bottom

        [data-util~="gap:md:3,0"] > * {
            margin: 0;
        }

        [data-util~="gap:md:3,0"] > *:not(:first-child) {
            margin-top: 1.5rem;
        }

        [data-util~="gap:md:3,0"] > *:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        // Left to right

        [data-util*="row:md:"][data-util~="gap:md:3,0"] > * {
            margin: 0;
        }

        [data-util*="row:md:"][data-util~="gap:md:3,0"] > *:not(:last-child) {
            margin-right: 1.5rem;
        }

        [data-util*="row:md:"][data-util~="gap:md:3,0"] > *:not(:first-child) {
            margin-left: 1.5rem;
        }
    }


/******************************************************************************/
// MEDIUM-
/******************************************************************************/

@media screen and (min-width: 768px) and (max-width: 1279px)

    {
        /**********************************************************************/
        // 0.5rem
        /**********************************************************************/

        // Top to bottom

        [data-util~="gap:md.:0,5"] > * {
            margin: 0;
        }

        [data-util~="gap:md.:0,5"] > *:not(:first-child) {
            margin-top: 1rem * 0.25;
        }

        [data-util~="gap:md.:0,5"] > *:not(:last-child) {
            margin-bottom: 1rem * 0.25;
        }

        // Left to right

        [data-util*="row:md.:"][data-util~="gap:md.:0,5"] > * {
            margin: 0;
        }

        [data-util*="row:md.:"][data-util~="gap:md.:0,5"] > *:not(:last-child) {
            margin-right: 1rem * 0.25;
        }

        [data-util*="row:md.:"][data-util~="gap:md.:0,5"] > *:not(:first-child) {
            margin-left: 1rem * 0.25;
        }

        /**********************************************************************/
        // 1rem
        /**********************************************************************/

        // Top to bottom

        [data-util~="gap:md.:1,0"] > * {
            margin: 0;
        }

        [data-util~="gap:md.:1,0"] > *:not(:first-child) {
            margin-top: 1rem * 0.5;
        }

        [data-util~="gap:md.:1,0"] > *:not(:last-child) {
            margin-bottom: 1rem * 0.5;
        }

        // Left to right

        [data-util*="row:md.:"][data-util~="gap:md.:1,0"] > * {
            margin: 0;
        }

        [data-util*="row:md.:"][data-util~="gap:md.:1,0"] > *:not(:last-child) {
            margin-right: 1rem * 0.5;
        }

        [data-util*="row:md.:"][data-util~="gap:md.:1,0"] > *:not(:first-child) {
            margin-left: 1rem * 0.5;
        }

        /**********************************************************************/
        // 1.5rem
        /**********************************************************************/

        // Top to bottom

        [data-util~="gap:md.:1,5"] > * {
            margin: 0;
        }

        [data-util~="gap:md.:1,5"] > *:not(:first-child) {
            margin-top: 1rem * 0.75;
        }

        [data-util~="gap:md.:1,5"] > *:not(:last-child) {
            margin-bottom: 1rem * 0.75;
        }

        // Left to right

        [data-util*="row:md.:"][data-util~="gap:md.:1,5"] > * {
            margin: 0;
        }

        [data-util*="row:md.:"][data-util~="gap:md.:1,5"] > *:not(:last-child) {
            margin-right: 1rem * 0.75;
        }

        [data-util*="row:md.:"][data-util~="gap:md.:1,5"] > *:not(:first-child) {
            margin-left: 1rem * 0.75;
        }

        /**********************************************************************/
        // 2rem
        /**********************************************************************/

        // Top to bottom

        [data-util~="gap:md.:2,0"] > * {
            margin: 0;
        }

        [data-util~="gap:md.:2,0"] > *:not(:first-child) {
            margin-top: 1rem;
        }

        [data-util~="gap:md.:2,0"] > *:not(:last-child) {
            margin-bottom: 1rem;
        }

        // Left to right

        [data-util*="row:md.:"][data-util~="gap:md.:2,0"] > * {
            margin: 0;
        }

        [data-util*="row:md.:"][data-util~="gap:md.:2,0"] > *:not(:last-child) {
            margin-right: 1rem;
        }

        [data-util*="row:md.:"][data-util~="gap:md.:2,0"] > *:not(:first-child) {
            margin-left: 1rem;
        }

        /**********************************************************************/
        // 3rem
        /**********************************************************************/

        // Top to bottom

        [data-util~="gap:md.:3,0"] > * {
            margin: 0;
        }

        [data-util~="gap:md.:3,0"] > *:not(:first-child) {
            margin-top: 1.5rem;
        }

        [data-util~="gap:md.:3,0"] > *:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        // Left to right

        [data-util*="row:md.:"][data-util~="gap:md.:3,0"] > * {
            margin: 0;
        }

        [data-util*="row:md.:"][data-util~="gap:md.:3,0"] > *:not(:last-child) {
            margin-right: 1.5rem;
        }

        [data-util*="row:md.:"][data-util~="gap:md.:3,0"] > *:not(:first-child) {
            margin-left: 1.5rem;
        }
    }
