/******************************************************************************/
// LARGE+
/******************************************************************************/

@media screen and (min-width: 1280px)

    {
        [data-util~="wid:lg:10"] {
            width: 10%;
        }

        [data-util~="wid:lg:20"] {
            width: 20%;
        }

        [data-util~="wid:lg:30"] {
            width: 30%;
        }

        [data-util~="wid:lg:40"] {
            width: 40%;
        }

        [data-util~="wid:lg:50"] {
            width: 50%;
        }

        [data-util~="wid:lg:60"] {
            width: 60%;
        }

        [data-util~="wid:lg:70"] {
            width: 70%;
        }

        [data-util~="wid:lg:80"] {
            width: 80%;
        }

        [data-util~="wid:lg:90"] {
            width: 90%;
        }

        [data-util~="wid:lg:max"] {
            width: 100%;
        }

        [data-util~="wid:lg:min"] {
            width: auto;
        }

        [data-util~="wid:lg:lmt"] {
            max-width: 1150px;
        }
    }
