/******************************************************************************/
// MEDIUM+
/******************************************************************************/

@media screen and (min-width: 768px)

    {
        [data-util~="shd:md:lgt"] {
            box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.15);
        }

        [data-util~="shd:md:drk"] {
            box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.35);
        }
    }

/******************************************************************************/
// MEDIUM-
/******************************************************************************/

@media screen and (min-width: 768px) and (max-width: 1279px)

    {
        [data-util~="shd:md.:lgt"] {
            box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.15);
        }

        [data-util~="shd:md.:drk"] {
            box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.35);
        }
    }
