/******************************************************************************/
// SMALL+
/******************************************************************************/

@media screen and (min-width: 360px)

    {
        [data-util~="shd:sm:lgt"] {
            box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.15);
        }

        [data-util~="shd:sm:drk"] {
            box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.35);
        }
    }

/******************************************************************************/
// SMALL-
/******************************************************************************/

@media screen and (min-width: 360px) and (max-width: 767px)

    {
        [data-util~="shd:sm.:lgt"] {
            box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.15);
        }

        [data-util~="shd:sm.:drk"] {
            box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.35);
        }
    }
