/******************************************************************************/
// LARGE+
/******************************************************************************/

@media screen and (min-width: 1280px)

    {
        [data-util~="dis:lg:hid"] {
            display: none !important;
            padding: 0;
        }

        [data-util~="dis:lg:hid-emp"]:empty {
            display: none;
            padding: 0;
        }
    }
