/******************************************************************************/
// LARGE+
/******************************************************************************/

@media screen and (min-width: 1280px)

    {
        [data-util~="hgt:lg:scn"] {
            min-height: 100vh;
        }

        [data-util~="hgt:lg:max"] {
            height: 100%;
        }

        [data-util~="hgt:lg:min"] {
            height: auto;
        }
    }
