/******************************************************************************/
// SMALL+
/******************************************************************************/

@media screen and (min-width: 360px)

    {
        /**********************************************************************/
        // Fonts
        /**********************************************************************/

        [data-util~="txt:sm:std"] {
            font-family: var(--txt-std);
        }

        [data-util~="txt:sm:fix"] {
            font-family: var(--txt-fix);
        }

        /**********************************************************************/
        // Sizes
        /**********************************************************************/

        [data-util~="txt:sm:0"] {
            font-size: var(--siz-0);
        }

        [data-util~="txt:sm:1"] {
            font-size: var(--siz-1);
        }

        [data-util~="txt:sm:2"] {
            font-size: var(--siz-2);
        }

        [data-util~="txt:sm:3"] {
            font-size: var(--siz-3);
        }

        [data-util~="txt:sm:4"] {
            font-size: var(--siz-4);
        }

        [data-util~="txt:sm:5"] {
            font-size: var(--siz-5);
        }

        [data-util~="txt:sm:6"] {
            font-size: var(--siz-6);
        }

        [data-util~="txt:sm:7"] {
            font-size: var(--siz-7);
        }

        [data-util~="txt:sm:8"] {
            font-size: var(--siz-8);
        }

        /**********************************************************************/
        // Alignments
        /**********************************************************************/

        [data-util~="txt:sm:l"] {
            text-align: left;
        }

        [data-util~="txt:sm:c"] {
            text-align: center;
        }

        [data-util~="txt:sm:r"] {
            text-align: right;
        }

        [data-util~="txt:sm:j"] {
            text-align: justify;
            text-justify: inter-word;
        }

        [data-util~="txt:sm:jc"] {
            text-align: justify;
            text-justify: inter-word;
            text-align-last: center;
        }

        /**********************************************************************/
        // Structure
        /**********************************************************************/

        [data-util~="txt:sm:nbr"] {
            white-space: pre;
        }

        [data-util~="txt:sm:trn"] {
            display: table-row;
            overflow: hidden;
            white-space: nowrap;
            min-width: 0;
            text-overflow: ellipsis;
        }
    }


/******************************************************************************/
// SMALL-
/******************************************************************************/

@media screen and (min-width: 360px) and (max-width: 767px)

    {
        /**********************************************************************/
        // Fonts
        /**********************************************************************/

        [data-util~="txt:sm.:std"] {
            font-family: var(--txt-std);
        }

        [data-util~="txt:sm.:fix"] {
            font-family: var(--txt-fix);
        }

        /**********************************************************************/
        // Sizes
        /**********************************************************************/

        [data-util~="txt:sm.:0"] {
            font-size: var(--siz-0);
        }

        [data-util~="txt:sm.:1"] {
            font-size: var(--siz-1);
        }

        [data-util~="txt:sm.:2"] {
            font-size: var(--siz-2);
        }

        [data-util~="txt:sm.:3"] {
            font-size: var(--siz-3);
        }

        [data-util~="txt:sm.:4"] {
            font-size: var(--siz-4);
        }

        [data-util~="txt:sm.:5"] {
            font-size: var(--siz-5);
        }

        [data-util~="txt:sm.:6"] {
            font-size: var(--siz-6);
        }

        [data-util~="txt:sm.:7"] {
            font-size: var(--siz-7);
        }

        [data-util~="txt:sm.:8"] {
            font-size: var(--siz-8);
        }

        /**********************************************************************/
        // Alignments
        /**********************************************************************/

        [data-util~="txt:sm.:l"] {
            text-align: left;
        }

        [data-util~="txt:sm.:c"] {
            text-align: center;
        }

        [data-util~="txt:sm.:r"] {
            text-align: right;
        }

        [data-util~="txt:sm.:j"] {
            text-align: justify;
            text-justify: inter-word;
        }

        [data-util~="txt:sm.:jc"] {
            text-align: justify;
            text-justify: inter-word;
            text-align-last: center;
        }

        /**********************************************************************/
        // Structure
        /**********************************************************************/

        [data-util~="txt:sm.:nbr"] {
            white-space: pre;
        }

        [data-util~="txt:sm.:trn"] {
            display: table-row;
            overflow: hidden;
            white-space: nowrap;
            min-width: 0;
            text-overflow: ellipsis;
        }
    }
